/* Dark theme. */
@import "~/.cache/wal/colors-rofi-dark"
@import "themes/config.rasi"


/* Rofi config file */
configuration {
    font: "JetBrainsMono Nerd Font 15";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

// @theme "oxide"

listview {
    lines: 5;
}
